<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-info rounded shadow-sm">
    <img class="mr-3" src="https://kodingkeun.com/asset/img/koding@4x%202.png" alt="" width="48" height="48">
    <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Kodingkeun</h6>
        <small>Since 2022</small>
    </div>
</div>
