<div class="alert alert-warning alert-dismissible fade show mt-2" id="error" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
