<footer class="footer fixed-bottom mt-auto py-3">
  <div class="container">
    <span class="text-muted">Copyright @ <script>document.write(new Date().getFullYear())</script> Kodingkeun Community. All Rights Reserved</span>
  </div>
</footer>
