<div class="card p-4 mt-2" id="result">
  <h3>Your shorten link</h3>
  <div class="input-group">
    <input type="text" class="form-control text-primary" value="" id="redirect_uri" />
    <a class="btn btn-outline-primary ml-2" id="visit_redirect_uri" target="_blank"> <i class="fa fa-external-link"></i> Visit</a>
    <button class="btn btn-outline-info ml-2" id="copy"><i class="fa fa-copy"></i> Copy</button>
  </div>
</div>
