<div class="card p-2 mt-2" id="result">
    <div class="input-group">
        <input type="text" class="form-control text-primary" value="" id="redirect_uri"/>
    </div>
    <button class="btn btn-outline-info mt-2" id="copy">Copy</button>
</div>
